<header class="top-header">
  <div class="header-container">

    <div class="logo">
      <span class="logo-text">NEW HIRE</span>
    </div>

    <nav class="menu">
      <a routerLink="">Home</a>
      <a routerLink="/job-search">Jobs</a>
      <a routerLink="/post-vacancy">Post Jobs</a>
      <a routerLink="/login" class="login-btn">Login</a>
    </nav>

  </div>
</header>

<div class="marquee-wrapper">
  <marquee behavior="scroll" direction="left">
    TVK Technologies is hiring freshers and experienced candidates | Java • Angular • React • Python 
    • SQL • FullStack Angular with Java • AWS • Degital Marketing • Video Editing |
    Walk-in interviews every monday to Saturday | Apply now on NEW HIRE Portal
  </marquee>
</div>
