<footer class="footer">
  <div class="footer-overlay">
    <div class="footer-container">
      <div class="footer-col">
        <div class="footer-logo">
          <span class="logo-text">New Hire</span>
           <p class="footer-address">
                  2nd floor, 1, Tansi Nagar 2nd St, near Royal Shoppee, 
                  Tansi Nagar, Velachery, Chennai, Tamil Nadu 600042
           </p>
           <p class="footer-address">
            <span>Phone :</span> +91 94439 38850
           </p>
        </div>
      </div>

      <div class="footer-col">
        <h4>Employer</h4>
        <ul>
          <li>Login</li>
          <li>Post Jobs</li>
          <li>Search Candidates</li>
          <li>My Folders</li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Candidate</h4>
        <ul>
          <li>Login</li>
          <li>Applied Jobs</li>
          <li>Jobs for you</li>
          <li>Bookmarked Jobs</li> 
        </ul>
      </div>

      <div class="footer-col">
        <h4>Legal</h4>
        <ul>
          <li>Terms & Conditions</li>
          <li>Contact Us</li>
          <li>Privacy Policy</li>
          <li>About Us</li>
          <li>Help</li>
          <li>Register Complaints</li>
          <li>FAQ</li>
        </ul>
      </div>

    </div>
    <div class="footer-bottom">
      <p>© 2026 New Hire. All Rights Reserved.</p>
    </div>
  </div>
</footer>

